<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand">
        {{#linkTo "boards"}}All Aboard{{/linkTo}}
        / {{name}}
      </span>

      <ul class="nav pull-right">
        <li>
          <a href="#"><i class="icon-wrench" title="Edit Slide"></i></a>
        </li>
        <li>
          {{#linkTo "slides.new"}}
            <i class="icon-plus" title="Add Slide"></i>
          {{/linkTo}}
        </li>
      </ul>
    </div>
  </div>
</div>
