{{partial "navbar"}}

{{outlet}}

{{#if slides.length}}
  <ol id="slides">
    {{#each slide in slides}}
      {{view App.PresentSlideView contentBinding="slide"}}
    {{/each}}
  </ol>
{{else}}
  <h3>You need to add some slides if you want to see something here.</h3>
{{/if}}
