<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand">All Aboard / {{name}}</a>

      <ul class="nav pull-right">
        <li>
          <a href="#" {{action "showSettings"}}>Settings</a>
        </li>
      </ul>
    </div>
  </div>
</div>
