<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand">
        <a href="#" {{action showBoardList}}>All Aboard</a>
        / {{name}}
      </span>

      <ul class="nav pull-right">
        <li>
          <a href="#" {{action "showSettings"}}>Settings</a>
        </li>
      </ul>
    </div>
  </div>
</div>
