development:
  adapter: postgresql
  database: all_aboard_dummy_development
  pool: 5
  username: vagrant
  password: password

test:
  adapter: postgresql
  database: all_aboard_dummy_test
  pool: 5
  username: vagrant
  password: password

production:
  adapter: postgresql
  database: all_aboard_dummy_production
  pool: 5
  username: vagrant
  password: password
