<h3>Two Up Layout. {{ slide.layoutName }}?</h3>

<p>Content For Left Side: !{{renderPaneFor slide position="1"}}!</p>
<p>Content For Right Side: !{{renderPaneFor slide position="2"}}!</p>

{{ yield }}
