.page-header
  %h1 Boards

%ul.unstyled
  - @boards.each do |board|
    %li= link_to board.name, board_path(board)

.well.span3
  = simple_form_for AllAboard::Board.new do |f|
    %legend Create Board

    = f.input :name
    = f.button :submit, "Create", class: "btn btn-primary"
